<!DOCTYPE html>
<html>
<head>
  <meta content=='text/html; charset=UTF-8' http-equiv="Content-Type" />
</head>
<body>
<h3>Testing the mailer</h3>
<h5><%= @customer.firstname %> <%= @customer.lastname %></h5>
</body>
</html>