<div class="modal fade" id="infoModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">The USCF MS Biorepository</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p style="font-size:12pt;">The MSDB makes biological materials (DNA, serum, and plasma) available to qualified researchers
          studying Multiple Sclerosis (MS) or other diseases that will help researchers understand the underlying causes of MS. </p>
        <p> In keeping with the variety of family structures seen in the general population, ascertainment was not restricted
          to isolated cases, and when possible, collection was extended to family members.</p>
        <p style="font-size:12pt;">Use this data dashboard to explore our biobank. If you see that we have samples that would be useful in your research, click the "Inquire About Samples" button and fill out the brief form. Our
        biorepository manager will respond promptly.</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-action" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>