<div class="container-fluid">
  <h1>MS Biorepository</h1>
</div>

<div class="container-fluid">

  <div class="row justify-content-md-center">
    <div class="col col-md-12">
      <p>The MSDB makes biological materials (DNA, serum, and plasma) available to qualified researchers studying Multiple Sclerosis (MS) or other diseases that will help researchers understand the underlying causes of MS. In keeping with the variety of family structures seen in the general population, ascertainment was not restricted to isolated cases, and when possible, collection was extended to family members.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5" id="samples_count_chart"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6" id="race_chart"></div>
        <div class="col-sm-6" id="disease_course_chart"></div>
      </div>
      <div class="row">
        <div class="col-sm-6" id="sex_chart"></div>
        <div class="col-sm-6" id="edss_chart"></div>
      </div>
    <div class="row">
      <div class="col-sm-6" id="hispanic_chart"></div>
      <div class="col-sm-6" id="age_onset_chart"></div>
    </div>
    </div>
  </div>

</div>