<div class="container-fluid">

  <div class="row justify-content-lg-center">
    <div class="col col-lg-12">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5" id="samples_count_chart"></div>
    <div class="col-lg-6">
      <div class="row justify-content-lg-center">
        <div class="col-lg-12">
          <p class="text-center" style="padding-left:100px;font-size:10pt;">Clicking on a graph element will hide that phenotype from the dataset. To restore it, click the grey value in the graph's legend, or press the "Reset Dashboard" button.</p>
        </div>
      </div>
      <h6 class="text-center" style="padding-bottom:10px;text-decoration: underline;padding-left:100px;">Applies only to MS Cases</h6>
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6"></div>
      </div>
      <div class="row">
        <div class="col-lg-6" id="disease_course_chart"></div>
        <div class="col-lg-6" id="age_onset_chart"></div>
      </div>
      <hr>
      <h6 class="text-center" style="padding-bottom:15px;text-decoration: underline;padding-left:100px;">Applies to all study participants</h6>

      <div class="row">
        <div class="col-lg-6" id="sex_chart"></div>
        <div class="col-lg-6" id="race_chart"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-2 offset-lg-3">
          <button id="resetDashboard" class = "btn btn-sm btn-action">Reset Dashboard</button>
        </div>
        <div class="col-lg-2 offset-lg-2">
          <button type="button" class="btn btn-sm btn-action" data-toggle="modal" data-target="#formModal">Contact Us About Samples</button>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render 'home/form_modal' %>

<script src="https://unpkg.com/jeezy/lib/jeezy.min.js"></script>

