
<div class="container-fluid">

  <div class="row justify-content-md-center">
    <div class="col col-md-12">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5" id="samples_count_chart"></div>
    <div class="col-md-6">

      <div class="row">
        <div class="col-sm-6" id=></div>
        <div class="col-sm-6" id="disease_course_chart"></div>
      </div>
      <div class="row">
        <div class="col-sm-6" id="edss_chart"></div>
        <div class="col-sm-6" id="age_onset_chart"></div>
      </div>
      <div class="row">
        <div class="col-sm-6" id="sex_chart"></div>
        <div class="col-sm-6" id="race_chart"></div>
      </div>
    </div>
  </div>

</div>