<%= render 'home/project_top' %>

<div class="container-fluid" style="position:absolute;top:175px;">

  <div class="row justify-content-lg-left" style="border-bottom:1px solid lightgrey;margin-bottom:4px;margin-top:10px;">
    <div class="col col-sm-5">
      <h4>MS Biorepository Samples Data Dashboard</h4>
    </div>
    <div class="col col-sm-7"><p class="text-center" style="padding-left:50px;font-size:10pt;">Click an element to remove subjects with that phenotype from all graphs and study participant counts. To restore, click the faint grey value in the graph's legend, or click "Reset Dashboard" to restore all graphs.</p></div>
  </div>

  <div class="row">
    <div class="col-sm-5">

      <div class="row">
        <div id="samples_count_chart">
        </div>
        <div class="col-sm-3 offset-sm-3 text-center">
          <button type="button" class="btn btn-sm btn-action" data-toggle="modal" data-target="#formModal">Inquire About Samples</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row justify-content-lg-center">
        <div class="col-sm-12">

        </div>
      </div>

      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>

      <div class="row">
        <div class="col-sm-6" id="disease_course_chart"></div>
        <div class="col-sm-6" id="age_onset_chart"></div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-6" id="sex_chart"></div>
        <div class="col-sm-6" id="race_chart"></div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button id="resetDashboard" class="btn btn-sm btn-action" >Reset Dashboard</button>
        </div>
      </div>

    </div>
  </div>

</div>

<%= render 'home/bio_bank_info_modal' %>
<%= render 'home/form_modal' %>

<script src="https://unpkg.com/jeezy/lib/jeezy.min.js"></script>

<script>
  $('body').css('background','none')
</script>
