
<div class="container-fluid">

  <div class="row justify-content-lg-center">
    <div class="col col-lg-12">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5" id="samples_count_chart"></div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6"></div>
      </div>
      <div class="row">
        <div class="col-lg-6" id="disease_course_chart"></div>
        <div class="col-lg-6" id="age_onset_chart"></div>
      </div>
      <div class="row">
        <div class="col-lg-6" id="sex_chart"></div>
        <div class="col-lg-6" id="race_chart"></div>
      </div>
    </div>
  </div>

</div>