<div class="container content-container">
  <br>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h1 class="text-center">Decoding the Genetic Risk of Multiple Sclerosis</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 offset-sm-1">

      <p class="text-left"><%= image_tag("alessandro01.jpg", :style => "max-height:225px;float:right; margin-left:20px;margin-bottom:10px;") %><b>The Multiple Sclerosis Genetic Susceptibility Project</b>  is a multi-center research study dedicated to finding the genetic factors
        underlying the development of multiple sclerosis and affecting disease progression.
        The project was established in 1989 and builds on the effort of scientists and staff with synergistic skills and demonstrated commitment to this
        effort. The principles of cooperation, dedication, and innovation have been conducive to the growth of the group and its scientific productivity.
        Our mission is to fully understand the genetic causes of multiple sclerosis and to apply the fundamental knowledge that we acquire to improve our capacity to prevent, diagnose, and treat the disease.</p>
<br>
      <p class="text-left"><b>Patient participation is critical.</b> Genetics research depends on the participation of individuals diagnosed with multiple sclerosis and their family members, spouses, and friends. With the support of the National
        Multiple Sclerosis Society, we maintain a unique repository of DNA and other
        biological materials that together, constitute a resource of great importance in promoting studies on genetic susceptibility and development of biomarkers in multiple sclerosis.</p>
      <b>If you or someone in your family is interested in participating in this study or would like to receive more information, please click the buttons below, or contact our study clinical coordinator at 1 (866) MS-GENES or 1 (866) 674-3637.</b>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-5 offset-sm-1">
      <%= link_to "More Information", research_path,  :class => "btn btn-action btn-block action-link" %>
    </div>
    <div class="col-sm-5">
      <%= link_to " Join The Study", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", :class => "btn btn-action btn-block action-link", target: :blank %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <p><b>If you are a scientist researching multiple sclerosis and want to inquire about using UCSF bio-samples in your experiments, you may  <a href="mailto:biorepository@ucsf.edu">click here to  contact the biorepository manager directly</a> or use our
      <%= link_to "Specimen Dashboard", dashboard_path %>.</b></p>
    </div>
  </div>
</div>