<%= render 'home/project_top' %>

<div class="container-fluid" style="position:absolute;top:185px;">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">Selected publications</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8 offset-sm-2" id="pub-scroll-window">

      <p style="font-size:14pt;"><b>Aberrant STAT phosphorylation signaling in peripheral blood mononuclear cells from multiple sclerosis patients.</b><br>
        Canto E, Isobe N, Didonna A; MS-EPIC Study Group, Hauser SL, Oksenberg JR.<br>
        <i>J Neuroinflammation. 2018</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/29514694">29514694</a>
      </p>

      <p style="font-size:14pt;"><b>Multiple Sclerosis Genetics</b><br>
        Canto E, Oksenberg JR.<br>
        <i>Mult Scler. 2018 </i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/29307290">29307290</a>
      </p>

      <p style="font-size:14pt;"><b>Ovarian aging is associated with gray matter volume and disability in women with MS.</b><br>
        Graves JS, Henry RG, Cree BAC, Lambert-Messerlian G, Greenblatt RM, Waubant E, Cedars MI, Zhu A; University of California, San Francisco MS-EPIC Team,, Bacchetti P, Hauser SL, Oksenberg JR.<br>
        <i>Neurology. 2018</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/29273686">29273686</a>
      </p>

      <p style="font-size:14pt;"><b>Genome sequencing uncovers phenocopies in primary progressive multiple sclerosis.</b><br>
        Jia X, Madireddy L, Caillier S, Santaniello A, Esposito F, Comi G, Stuve O, Zhou Y, Taylor B, Kilpatrick T, Martinelli-Boneschi F, Cree BAC, Oksenberg JR, Hauser SL, Baranzini SE.<br>
        <i>Ann Neurol. 2018</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/29908077">29908077</a>
      </p>

      <p style="font-size:14pt;"><b>The Genetics of Multiple Sclerosis.</b><br>
        Didonna A, Oksenberg JR.<br>
        <i>In: Zagon IS, McLaughlin PJ, editors. Multiple Sclerosis: Perspectives in Treatment and Pathogenesis [Internet]. </i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/29261259">29261259</a>
      </p>

      <p style="font-size:14pt;"><b>The Genetics of Multiple Sclerosis: From 0 to 200 in 50 Years.</b><br>
        Baranzini SE, Oksenberg JR.<br>
        <i>Trends Genet. 2017</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/28987266">28987266</a>
      </p>

      <p style="font-size:14pt;"><b>HLA Genetic Risk Burden in Multiple Sclerosis-Reply.</b><br>
        Isobe N, Oksenberg JR, Henry RG.<br>
        <i>JAMA Neurol. 2016</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27775754">27775754</a>
      </p>

      <p style="font-size:14pt;"><b>Immune cell-specific transcriptional profiling highlights distinct molecular pathways controlled by Tob1 upon experimental autoimmune encephalomyelitis.</b><br>
        Didonna A, Cekanaviciute E, Oksenberg JR, Baranzini SE.<br>
        <i>Sci Rep. 2016</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27546286">27546286</a>
      </p>

      <p style="font-size:14pt;"><b>The killer immunoglobulin-like receptor KIR3DL1 in combination with HLA-Bw4 is protective against multiple sclerosis in African Americans.</b><br>
        University of California, San Francisco MS-EPIC Team:, Cree BA, Gourraud PA, Oksenberg JR, Bevan C, Crabtree-Hartman E, Gelfand JM, Goodin DS, Graves J, Green AJ, Mowry E, Okuda DT, Pelletier D, von Büdingen HC,
        Zamvil SS, Agrawal A, Caillier S, Ciocca C, Gomez R, Kanner R, Lincoln R, Lizee A, Qualley P, Santaniello A, Suleiman L, Bucci M, Panara V, Papinutto N, Stern WA, Zhu AH, Cutter GR, Baranzini S, Henry RG, Hauser SL.<br>
        <i>Ann Neurol. 2016 </i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/27464262">27464262</a>
      </p>

      <p style="font-size:14pt;"><b>Long-term evolution of multiple sclerosis disability in the treatment era.</b><br>
        Hollenbach JA, Pando MJ, Caillier SJ, Gourraud PA, Oksenberg JR.<br>
        <i>Genes Immune. 2016</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/26866467">26866467</a>
      </p>

      <p style="font-size:14pt;"><b>Class II HLA interactions modulate genetic risk for multiple sclerosis.</b><br>
        International IBD Genetics Consortium (IIBDGC)<br>
        <i>Nat Genet. 2015</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/26343388">26343388</a>
      </p>

      <p style="font-size:14pt;"><b>Genetic determinants of risk and progression in multiple sclerosis.</b><br>
        Didonna A, Oksenberg JR.<br>
        <i>Clin Chim Acta. 2015</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/25661088">25661088</a>
      </p>

      <p style="font-size:14pt;"><b>Genetic contribution to multiple sclerosis risk among Ashkenazi Jews.</b><br>
        Khankhanian P, Matsushita T, Madireddy L, Lizée A, Din L, Moré JM, Gourraud PA, Hauser SL, Baranzini SE, Oksenberg JR.<br>
        <i>BMC Med Genet. 2015</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/26212423">26212423</a>
      </p>

      <p style="font-size:14pt;"><b>Mitochondrial DNA sequence variation in multiple sclerosis</b><br>
        Tranah GJ, Santaniello A, Caillier SJ, D'Alfonso S, Martinelli Boneschi F, Hauser SL, Oksenberg JR.<br>
        <i>Neurology. 2015</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/26136518">26136518</a>
      </p>

      <p style="font-size:14pt;"><b>An ImmunoChip study of multiple sclerosis risk in African Americans</b><br>
        Isobe N, Madireddy L, Khankhanian P, Matsushita T, Caillier SJ, Moré JM, Gourraud PA, McCauley JL, Beecham A, International Multiple Sclerosis Genetics Consortium,
        Piccio L, J. Herbert J, Khan O, Cohen J, Stone L, Santaniello A, Cree BAC, Onengut-Gumuscu S, Rich SS, Hauser SL, Sawcer S, Oksenberg JR<br>
        <i>Brain. 2015</i><br>
        PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/25818868">25818868</a>
      </p>


    </div>
  </div>
</div>