/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import 'bootstrap';
@import 'jquery.mCustomScrollbar';

//.navbar {
//  -webkit-box-shadow: 0 8px 6px -2px #999;
//  -moz-box-shadow: 0 8px 6px -2px #999;
//  box-shadow: 0 8px 6px -2px #999;
//
//  /* the rest of your styling */
//}
html {

}
html,body {
  min-height:100%;
}
body {
  margin:0;
  padding:0;
  background-color: #EFEFEF;
  background-clip: content-box;
  font-family: "Catamaran" sans-serif;
  line-height:2;
}

.container {
  background-color:white;
  border-left:1px solid #DADADA;
  border-right:1px solid #DADADA;
}

.bg-blue {
  background-color: #052049
}
.nav-item {
  color:white;
}

.nav-link {
  text-decoration: none;
  font-size:11pt;
  margin-right:0px;
  &:hover {
    text-decoration: underline;
  }
}
.footer-link-list {
  list-style: none;
  margin:0;
  margin-top:25px;
  margin-bottom:20px;
  padding:0;
}

.footer-link {
  color:white;
  text-decoration:none;
  font-size:12pt;
  &:hover {
    text-decoration: underline;
    color:white;
  }
}

.footer-container {
  background-color: #052049;
  color:white;
  bottom:0;
}

.ucsf-logo {
  max-height:125px;
  margin-top:30px;
}

.header-logo {
  max-height: 165px;
  padding-top:10px;
  padding-bottom:5px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}