// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearedText {
  text-decoration: none;
}

.selectedBar {
  fill : "Lime"
}

.btn-action {
  background-color: #052049;
  color:white;
}

.action-link {
  color:white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.legendEntry {
  cursor:pointer;
}

.legendEntry:hover  {
  text-decoration: underline;
  font-weight: bold;
}

.legendEntryActive {
  fill:black;
  font-weight:bold
}

.legendEntryInactive {
  fill:lightslategray;
  text-decoration:none;
}

.graphElement {
  cursor:pointer;
}
.inactiveGraphElement {
  opacity:.5;
}

.underlineLegendEntry {
  text-decoration: underline;
  font-weight: bold;
}

#pub-scroll-window {
  height:50%;
  border-top: 2px solid lightblue;
  border-bottom:2px solid lightblue;
  padding-top:5px;
  padding-bottom:5px;
}

#navLinkRow {
  position:absolute;
  width:100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top:10px;
  padding-bottom: 10px;
  z-index:1;
  top:100px;
}
.nav-tabs > .active > a, .nav-tabs > .active a:focus {
  outline:0;
  margin-right:0px;
}
.nav-item {
  background-color: #999999;
  border-top:1px solid white;
  &:hover {
    border:0px;
  }
  outline:0;
  &:focus {
    outline:0;
  }
}
.nav-link {
  text-decoration: underline;
  margin-right:0px;
  color:white;
  &:hover {
    color:white;
  }
}
.study-menu-div {
  border:1px solid black;
  border-radius:2px;
}
.study-menu-toggle {
  color:white;
  text-decoration: none;
}
.study-menu-header {
  background-color: #666666;
  color:white;
  padding:5px;
  margin-bottom: 0px;
}

.about-menu-div {
  border:1px solid black;
  border-radius:2px;
}
.about-menu-header {
  background-color: #666666;
  color:white;
  padding:5px;
  margin-bottom: 0px;
}

.about-menu-link {
  color:white;
  text-decoration: none;
}

.indexSubjectLink {
  color:white;
  font-size: 16pt;
}

.indexSubjectLink:hover {
  color:white;
}
.indexSubjectLink:active {
  text-decoration: underline;
}

#ucsfLogo {
  height:100px;
  position:absolute;
  z-index:1;
}

#slideCarousel {
  position:relative;
}

#resetDashboard {
  margin-top:20px;
}

.pheno-list {
  font-size: 10pt;
}

#phenos_box {
  border:1px solid lightgray;
  background-color:lightlightgrey;
  height:'100%';
}
#unrelated_phenos_box {
  border:1px solid lightgray;
  background-color:lightlightgrey;
  height:'100%';
}
.content-container {
  height: auto !important;
  padding-bottom:50px;
}

.bio-chart-note {
  font-size:10pt;
}

.ms-society-logo {
  max-height: 50px;
  padding-left:10px;
}

.thumbnail-portrait {
  max-height:150px;
  float:left;
  margin-right:25px;
  border:1px solid black;
}

.about-group-header {

}
.bio-chart-note {
  line-height: 100%;
  font-size:9pt;
  margin-top:50px;
}