// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearedText {
  text-decoration: none;
}

.selectedBar {
  fill : "Lime"
}

.btn-action {
  background-color: darkblue;
  color:white;
}

.legendEntry {
  cursor:pointer;
}

.legendEntry:hover  {
  text-decoration: underline;
  font-weight: bold;
}

.legendEntryActive {
  fill:black;
}

.legendEntryInactive {
  fill:lightgrey;
}

.graphElement {
  cursor:pointer;
}

.underlineLegendEntry {
  text-decoration: underline;
  font-weight: bold;
}

#pub-scroll-window {
  height:500px;
  border-top: 2px solid lightblue;
  border-bottom:2px solid lightblue;
  padding-top:5px;
  padding-bottom:5px;
}

#navLinkRow {
  position:absolute;
  width:100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top:10px;
  padding-bottom: 10px;
  z-index:1;
  top:100px;
}

.nav-link {
  text-decoration: underline;
}

.indexSubjectLink {
  color:white;
  font-size: 16pt;
}

.indexSubjectLink:hover {
  color:white;
}
.indexSubjectLink:active {
  text-decoration: underline;
}

#ucsfLogo {
  height:100px;
  position:absolute;
  z-index:1;
}

#slideCarousel {
  z-index: -99;
  position:relative;
}
html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.aboutSubjectLink {
  color:white;
  font-size: 16pt;
}

body {
  background: image_url("dna-msgenetics.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}